.image {
  background: url("src/assets/Soldier.png") 0 0 no-repeat;
  height: 100px;
  width: 100px;
  scale: 4;
  animation: sprite 1s steps(6) infinite;
}

@keyframes sprite {
  from {
    background-position: 0% 0;
  }
  to {
    background-position: 75% 0;
  }
}
