.player {
  position: absolute;
  top: 0;
  margin-left: 20px;
  width: 200px;
  display: flex;
  align-items: center;
}

.player-text {
  color: red;
}

.player-bar {
  margin-top: 20px;
  height: 48px;
  width: 48px;
  scale: 1;
  left: 120px;
}
